body{
    min-width: 500px;
    font-family: "Poppins";
    background-color: #F8FAFC;
}

.title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;

}

.separator{
    text-align: center;
    margin-bottom: 30px;
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article1, .article2, .article3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin-bottom: 50px;
}

.image{
    margin-right: 50px;
    border-radius: 12px;
}

.topic{
    font-size: 20px;
}

.date{
    font-size: 14px;
    color: #4D5562;
    font-weight: 500;
}

/* Responsive design*/

@media(max-width: 600px){
    .title{
        font-size: 22px;
    }

    .article1, .article2, .article3{
        width: 100%;
    }

    .topic{
        font-size: 18px;
    }

    .date{
        font-size: 12px;
    }
}


